/*********************************
/ CSS som vi lager selv, legges her
*********************************/

.db_content
{
	position: absolute;
	left: 5%;
	top: 25%;
	width: 90%;
}

#login_container {
	background: #666666;
	width: 50%;
	padding: 10px;
	opacity:0.9;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}
