{% extends "home/common_template.html" %}
{% load staticfiles %}


{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">


	<div class="home">
		<div class="db_content">
			<h1 class="home_title">Leverandører</h1>
			<div id ="leverandorliste">
				<table id="leverandorliste_table" class="display" width="90%"></table>
			</div>
			<a href="http://127.0.0.1:8000/home/leverandorer/0/"><button type="button">Opprett leverandør</button></a>
		</div>
	</div>


<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{% static 'home/js/database_leverandorer.js' %}"></script>

{% endblock %}
