{% extends "home/common_template.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

	<div class="home">
		<div class="db_content">
			<h1 class="home_title">Opprett ny ordre</h1>
			<h2 class="home_title" id="kundenavn"></h2>
		<div id ="produktliste">
			<table id="produktliste_table" class="display" width="90%"></table>
					</div>
				<a href="{% url 'produkter' %}/0/"><button type="button" class="pushbutton">Opprett produkt</button></a>
		</div>
	</div>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{% static 'home/js/ny_ordre.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        last_kunde("{{ kundeid }}");
    });
</script>
{% endblock %}
